.App {
  font-family: system-ui;
}

.list-item {
  padding: 5px;
}

.list-item a {
  color: blue;
  cursor: pointer;
}

.control {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.control input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 14px;
  width: 50%;
}

.control button {
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: lightgoldenrodyellow;
}
